@model IEnumerable<NBL_USA.Models.RosterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoachName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistantCoachName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoachName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssistantCoachName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RosterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RosterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RosterID })
        </td>
    </tr>
}

</table>
